#buy-menu {
  background-color: var(--dark-1-05);
  user-select: none;
}

#buy-menu .header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  width: 100%;
  color: white;
}

#buy-menu .header .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.buy-menu-container {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-2);
  border-radius: 5px;
  overflow: hidden;
}

.buy-menu-left, .buy-menu-right {
  display: flex;
  flex-direction: column; 
  gap: 20px;
  padding: 20px;
}

.portrait.buy-menu-portrait {
  width: 80px;
  border-color: var(--dark-3);
}


.buy-menu-portrait-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.buy-inventory-grid {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px;
  width: 100%;
  height: 100%;
  max-height: calc(6 * 85px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 10px;
  background-color: var(--dark-1);
  border-radius: 5px;
  border: 2px solid transparent;
  transition: border 0.5s ease-in-out;
  box-shadow: inset 0 -10px 25px -10px var(--dark-1-05);
}

.buy-inventory-grid .inventory-item {
  width: 85px;
  height: 85px;
}

.buy-menu-actor-name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 16px;
}

.buy-menu-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 750px;
  width: 900px;
}

.buy-menu .header {
  display: flex;
  padding: 10px;
}

.inventory-item.draggable {
  border: 2px solid var(--dark-5);
}

.inventory-item.placeholder {
  border: 2px dashed var(--bright-3) !important;
}

.buy-menu-ship-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 5px;
  cursor: var(--cursor-help);
}

.buy-menu-ship-icon:hover {
  background-color: var(--dark-1);
}

.buy-menu-ship-icon img {
  height: 100%;
}

.portrait-and-ship {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 90px;
}

.inventory-shadow-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: linear-gradient(0deg, var(--dark-1-05) 0%, transparent 10% 100%);
  z-index: 100;
}
