.dialogue-editor {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgb(26, 27, 29);
  user-select: none;
  z-index: 1;
}

#dialogue-editor-canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.dialogue-editor.compact-view .dialogue-node-label-container {
  display: none!important;
}
.dialogue-editor.compact-view .dialogue-node {
  padding-bottom: 10px;
}
.dialogue-editor.compact-view .fact-count {
  display: none;
}
.dialogue-editor.compact-view .dialogue-node {
  gap: 5px;
}
.dialogue-editor.compact-view .dialogue-node-widget {
  min-width: 24px;
  height: 24px;
}

.dialogue-editor-navbar {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  position: absolute;
  top: 20px;
  pointer-events: none;
  z-index: 10;
}

.dialogue-name {
  color: white;
  height: min-content;
  background-color: var(--dark-4);
  padding: 5px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.459);
}

.editor-label {
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  background-color: var(--dark-4);
  z-index: 10;
}

.editor-label-icon {
  width: 20px;
}

.dialogue-node {
  position: absolute;
  width: max-content;
  height: fit-content;
  padding: 10px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  max-width: 420px;
  gap: 10px;
  border-radius: 5px;
  border: 2px solid rgba(13, 62, 224, 0);
  color: white;
  background-color: var(--dark-3);
  user-select: none;
  z-index: 2;
}

.dialogue-node.active {
  border-color: var(--color-shield)!important;
}
.dialogue-node.active::before {
  content: "•";
  position: absolute;
  bottom: -35px;
  left: calc(50% - 0.5rem);
  font-weight: 600;
  font-size: 2rem;
  color: var(--color-shield);
}

.dialogue-node.selected {
  border-color: var(--color-shield);
}

.dialogue-node.start-node:not(.active, .selected, .end-node) {
  outline: 4px solid rgb(98, 7, 126);
}
.dialogue-node.start-node:not(.active, .selected, .end-node, .highlighted)::before {
  content: "Entry";
  position: absolute;
  bottom: -45px;
  left: calc(50% - 2rem);
  border: 2px solid rgb(175, 33, 218);
  border-radius: 5px;
  padding: 4px 10px;
  font-weight: 600;
  font-size: 1rem;
  background-color: var(--dark-2);
  color: rgb(175, 33, 218);
}
.dialogue-node.end-node:not(.active, .selected) {
  outline: 4px solid green;
}
.dialogue-node.end-node:not(.active, .selected, .start-node, .highlighted)::before {
  content: "Exit";
  position: absolute;
  border: 2px solid green;
  border-radius: 5px;
  padding: 4px 10px;
  bottom: -45px;
  left: calc(50% - 1.8rem);
  font-weight: 600;
  font-size: 1rem;
  background-color: var(--dark-2);
  color: green;
}
.dialogue-node.end-node.start-node:not(.active, .selected) {
  outline: 4px solid rgb(160, 29, 19);
}
.dialogue-node.end-node.start-node:not(.active, .selected)::before {
  content: "Empty";
  position: absolute;
  bottom: -45px;
  left: calc(50% - 2.2rem);
  border: 2px solid rgb(160, 29, 19);
  border-radius: 5px;
  padding: 4px 10px;
  font-weight: 600;
  font-size: 1rem;
  background-color: var(--dark-2);
  color: rgb(160, 29, 19);
}

.dialogue-node.highlighted:not(.selected) {
  outline: 2px dashed var(--color-shield) !important;
}

.dialogue-node-title {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bright-3);
}

.dialogue-node-row {
  max-width: 500px;
  min-width: 150px;
  padding: 5px 10px;
  background-color: var(--dark-2);
  border: 2px solid transparent;  
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.dialogue-node-row:hover {
  border: 2px solid var(--dark-4);
}

.dialogue-node-row-informational {
  border: 2px solid #ba4c45!important;
  background-color: var(--dark-3);
}

.dialogue-node-tree-row {
  position: relative;
  border: 4px solid rgb(98, 7, 126)!important;
  padding-left: 28px;
}

.dialogue-node-tree-row::before {
  content: url("../assets/icons/iconNodeTree.png");
  position: absolute;
  left: -8px;
  top: -8px;
  transform: scale(0.15);
  width: 30px;
  height: 30px;
}

.dialogue-node-transfer-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dialogue-node-transfer {
  display: flex;
  gap: 5px;
}

.dialogue-node-item-container {
  display: flex;
  min-width: 50px;
  width: max-content;
  gap: 5px;
}

.dialogue-node-add-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  order: 2;
}

.dialogue-node-header {
  min-width: 150px;
  display: flex;
  flex-direction: row-reverse;
}

.dialogue-node-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dialogue-node-label {
  padding: 5px 10px;
  flex-grow: 1;
}

.dialogue-node-responses {
  display: flex;
  flex-direction: column;
}
.dialogue-node-widget {
  display: flex;
  height: 32px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 32px;
  border-radius: 5px;
}
.dialogue-node-widget:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.dialogue-node-widget.edit {
  background-image: url(../assets/editor/iconWidgetEdit.png);
  cursor: var(--cursor-pointer);
}
.dialogue-node-widget.drag {
  background-image: url(../assets/editor/iconWidgetDrag.png);
  cursor: all-scroll;
}
.dialogue-node-widget.remove {
  background-image: url(../assets/editor/iconWidgetRemove.png);
  cursor: var(--cursor-pointer);
}
.dialogue-node-widget.resize {
  background-image: url(../assets/editor/iconWidgetResize.png);
  cursor: var(--cursor-pointer);
  position: absolute;
  bottom: 0;
  right: 0;
}
.dialogue-node-widget.list {
  background-image: url(../assets/editor/iconList.png);
  cursor: var(--cursor-pointer);
  order: 1;
  margin-right: 10px;
}
.dialogue-node-widget.list.active {
  background-color: var(--dark-2);
}
.dialogue-node-widget.collapse {
  background-image: url(../assets/editor/iconWidgetCollapse.png);
  cursor: var(--cursor-pointer);
}
.dialogue-node-widget.collapse.true {
  transform: rotate(180deg);
}
.dialogue-node-widget.add-response {
  background-image: url(../assets/editor/iconWidgetAdd.png);
  cursor: var(--cursor-pointer);
  position: absolute;
  bottom: -40px;
  left: 0;
}
.dialogue-node-widget.add {
  background-image: url(../assets/editor/iconWidgetAdd.png);
  cursor: var(--cursor-pointer);
}
.drag-widget {
  background-image: url(../assets/editor/iconWidgetDrag.png);
  cursor: all-scroll;
}
.drag-widget:hover {
  background-color: var(--dark-1);
}
.dialogue-node-socket {
  width: 12px;
  height: 12px;
  border: 1px solid white;
  border-radius: 100%;
  cursor: var(--cursor-pointer);
}
.dialogue-node-socket.out {
  background-color: green;
}
.dialogue-node-socket.out:hover {
  background-color: rgb(50, 161, 50);
}
.dialogue-node-socket.in {
  background-color: rgb(98, 7, 126);
}
.dialogue-node-socket.in:hover {
  background-color: rgb(142, 67, 165);
}

.dialogue-node-socket.detached {
  position: absolute;
}

.dialogue-node-connection {
  position: absolute;
  pointer-events: none;
  user-select: none;
}

.dialogue-node-connection:hover {
  filter: brightness(1.3);
}

.dialogue-editor-sidebar {
  width: 400px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -400px;
  color: white;
  background-color: rgb(47, 49, 53);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.411);
  transition: all 0.3s cubic-bezier(0.7, 0, 0.3, 1);
  z-index: 3;
  padding: 10px;
}

.dialogue-editor-sidebar.open {
  transform: translateX(-400px);
}

.dialogue-editor-sidebar.open .arrow-open {
  transform: rotate(0deg);
}


.sidebar-header {
  display: flex;
  padding: 10px 10px;
  font-size: 20px;
}

.arrow-open {
  background-image: url(../assets/editor/iconArrowSimple.png);
  background-position: center;
  background-size: contain;
  width: 30px;
  height: 30px;
  position: absolute;
  left: -40px;
  top: 10px;
  cursor: var(--cursor-pointer);
  transform: rotate(180deg);
  transition: all 0.15s ease-in-out;
}

/* .dialogue-node-speaker::before {
  content: url(../assets/editor/iconSpeaker25w.png);
  margin-right: 5px;
} */

.dialogue-node-speaker {
  padding-left: 5px;
}

.dialogue-node-response-wrapper {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.dialogue-node-response-wrapper-header {
  position: absolute;
  top: -25px;
}

.dialogue-node-socket-wrapper {
  display: flex;
  flex-direction: row;
  gap: 12px;
  position: absolute;
}

.dialogue-node-socket-wrapper.in {
  top: -6px;
}
.dialogue-node-socket-wrapper.out {
  bottom: -6px;
}

.dialogue-node-item {
  display: flex;
  width: 39px;
  height: 100%;
  border-radius: 5px;
  background-color: var(--dark-3);
  border: 2px solid var(--dark-4);
}
.dialogue-node-item:hover {
  background-color: var(--dark-4);
  border: 2px solid var(--dark-5);
}

.dialogue-node-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dialogue-node-icon, .fact-add-button {
  min-width: 32px;
  height: 32px;
  background-attachment: local;
  background-size: contain;
  background-position: center;
  border-radius: 5px;
  cursor: var(--cursor-pointer);
}
.dialogue-node-icon:hover, .fact-add-button:hover {
  background-color: var(--dark-3);
}

.dialogue-node-icon.hover-dark-02:hover {
  background-color: var(--dark-2);
}

.dialogue-add-output {
  background-image: url(../assets/editor/iconPlus.png);
}
.dialogue-remove-output {
  background-image: url(../assets/editor/iconMinus.png);
}
.dialogue-node-icon.plus {
  background-image: url(../assets/editor/iconPlus.png);
}
.dialogue-node-icon.minus {
  background-image: url(../assets/editor/iconMinus.png);
}

/* #sidebar */
.sidebar-row.text {
  padding: 10px 10px;
  background-color: rgb(26, 27, 29);
}
.sidebar-row.label {
  padding: 10px 10px;
}

.sidebar-container {
  padding: 10px;
  margin-top: 50px;
  min-height: 40px;
  background-color: rgb(30, 32, 36);
  position: relative;
}

.sidebar-container-header {
  position: absolute;
  top: -25px;
}

.dialogue-node-label-container {
  display: flex;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;  
  background-color: var(--dark-4);
}
.dialogue-node-label-container:hover {
  background-color: var(--dark-5);
}
.dialogue-node-label-container .dialogue-node-label:not(:first-of-type) {
  margin-left: -2px;
}

.dialogue-node-label {
  display: flex;
  justify-content: center;
  padding: 5px;
  color: var(--bright-3);
  border: 2px solid transparent;
}
.dialogue-node-label:hover {
  
}

.dialogue-node-label.active {
  color: white;
  border: 2px solid var(--color-active);
}

.dialogue-editor-options {
  position: absolute;
  top: 60px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: white;
  z-index: 10;
}
.dialogue-editor-option {
  padding: 5px 20px;
  color: var(--bright-3);
  border: 2px solid var(--dark-4);
  border-radius: 5px;
}
.dialogue-editor-option:hover {
  background-color: var(--dark-4);
}
.dialogue-editor-option.active {
  color: white;
  border-color: white;
}

#dialogue-editor-box-selection {
  position: fixed;
  border: 2px solid var(--color-shield);
}

.dialogue-node-fact-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 5px;
  background-color: var(--dark-2);
}

.dialogue-node-add-fact-button {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background-color: var(--dark-3);
  background-image: url(../assets/icons/iconPlus.png);
}
.dialogue-node-add-fact-button:hover {
  background-color: var(--dark-2);
}

.dialogue-node-fact-row {
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
}

.dialogue-node-fact-identifier {
  padding: 5px 10px;
  border: 2px solid transparent;
  min-width: 200px;
}
.dialogue-node-fact-identifier:hover {
  border-color: var(--dark-6);
}

.dialogue-node-fact-value {
  display: flex;
  justify-content: center;
  width: 50px;
  padding: 5px 10px;
  border: 2px solid transparent;
}
.dialogue-node-fact-value:hover {
  border-color: var(--dark-6);
}
.dialogue-node-fact-value.true {
  color: rgb(92, 176, 255);
}
.dialogue-node-fact-value.false {
  color: rgb(51, 105, 255);
}

.dialogue-node-fact-delete-button {
  width: 32px;
  height: 32px;
  background-image: url(../assets/editor/iconMinus.png);
}
.dialogue-node-fact-delete-button:hover {
  background-color: var(--dark-4);
}