.tool-cont,
.editor-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-1);
  border-radius: 5px;
  cursor: var(--cursor-pointer);
  border: 2px solid var(--dark-3);
}

.tool-cont:hover,
.editor-icon:hover {
  border-color: white;
  background-color: var(--dark-4);
}

.tool-icon,
.editor-icon {
  position: relative;
  width: 32px;
  height: 32px;
  background-attachment: local;
  background-size: contain;
  background-position: center;
}
.tool-icon.active {
  background-color: var(--dark-4);
}
.tool-cont.active {
  border: 2px solid white;
}
.tool-icon.select {
  background-image: url(../assets/hitboxEditor/iconSelect.png);
}
.tool-icon.pen-tool {
  background-image: url(../assets/hitboxEditor/iconPenTool.png);
}
.tool-icon.add-shape {
  background-image: url(../assets/hitboxEditor/iconAddShape.png);
}
.tool-icon.remove-shape {
  background-image: url(../assets/hitboxEditor/iconRemoveShape.png);
}
.tool-icon.center-shape {
  background-image: url(../assets/hitboxEditor/iconCenterShape.png);
}
.tool-icon.select-object {
  background-image: url(../assets/hitboxEditor/iconSelectObject.png);
}
.tool-icon.object-center {
  background-image: url(../assets/hitboxEditor/iconObjectCenter.png);
}
.tool-icon.object-cycle-rotation {
  background-image: url(../assets/hitboxEditor/iconObjectCycleRotation.png);
}
.tool-icon.add-point {
  background-image: url(../assets/hitboxEditor/iconAddPoint.png);
}
.tool-icon.move {
  background-image: url(../assets/hitboxEditor/iconSelect.png);
}
.tool-icon.add {
  background-image: url(../assets/editor/iconPlus.png);
}
.tool-icon.add-special {
  background-image: url(../assets/editor/iconPlus.png);
}
.tool-icon.rotate {
  background-image: url(../assets/icons/iconRotateObject.png);
}
.tool-icon.edit-hitbox {
  background-image: url(../assets/icons/iconEditHitbox.png);
}
.tool-icon.randomize-rotation {
  background-image: url(../assets/icons/iconRandomizeRotation.png);
}
.tool-icon.randomize-rotation.active {
  background-color: var(--dark-4);
}
.tool-icon.add-icon {
  background-image: url(../assets/icons/iconAddIcon.png);
}
.tool-icon.add-sprite {
  background-image: url(../assets/icons/iconAddSprite.png);
}
.tool-icon.add-star-system {
  background-image: url(../assets/icons/iconAddStarSystem.png);
}
.tool-icon.add-star-system-outback {
  background-image: url(../assets/icons/iconAddStarSystemOutback.png);
}
.tool-icon.lock-sprite {
  background-image: url(../assets/icons/iconLockSprite.png);
}
.tool-icon.lock-sprite.active {
  background-color: var(--dark-4);
}
.tool-icon.lock-icon {
  background-image: url(../assets/icons/iconLockIcon.png);
}
.tool-icon.toggle-window-mode {
  background-image: url(../assets/icons/iconToggleWindowMode.png);
}
.tool-icon.lock-icon.active {
  background-color: var(--dark-4);
}
.tool-icon.addSpawn {
  background-image: url(../assets/icons/iconAddSpawn.png);
}
.tool-icon.moveSpawnsAlong {
  background-image: url(../assets/icons/iconMoveSpawnsAlong.png);
}
.tool-icon.define-weapon-slots {
  background-image: url(../assets/icons/iconDefineWeaponSlots.png);
}
.tool-icon.define-docking-points {
  background-image: url(../assets/icons/iconDefineDockingPoints.png);
}
.tool-icon.edit-wreck {
  background-image: url(../assets/hitboxEditor/iconEditWreck.png);
}
.tool-icon.return-to-stage {
  background-image: url(../assets/icons/iconReturnToStage.png);
}
.tool-icon.fog-paint {
  background-image: url(../assets/icons/iconFogPaint.png);
}
.tool-icon.fog-eraser {
  background-image: url(../assets/icons/iconEraser.png);
}
.tool-icon.toggle-collision {
  background-image: url(../assets/icons/iconToggleCollision.png);
}
.tool-icon.toggle-spray-mode {
  background-image: url(../assets/icons/iconToggleSprayMode.png);
}
.tool-icon.use-multi-selection {
  background-image: url(../assets/icons/iconUseMultiSelection.png);
}
.tool-icon.circle-select {
  background-image: url(../assets/icons/iconCircleSelect.png);
}

.hitbox-editor-icon {
  background-image: url(../assets/hitboxEditor/iconHitboxEditor.png);
}
.object-editor-icon {
  background-image: url(../assets/icons/iconObjectEditor.png);
}
.dialogue-editor-icon {
  background-image: url(../assets/icons/iconDialogueEditor.png);
}
.location-editor-icon {
  background-image: url(../assets/icons/iconLocationEditor.png);
}
.buy-menu-icon {
  background-image: url(../assets/icons/iconBuyMenu.png);
}
.quest-designer-icon {
  background-image: url(../assets/icons/iconQuestDesigner.png);
}
.ship-view-icon {
  background-image: url(../assets/icons/iconShipView.png);
}
.station-context-window-icon {
  background-image: url(../assets/icons/iconStationContextWindow.png);
}
.station-window-icon {
  background-image: url(../assets/icons/iconStationWindow.png);
}
.cutscene-window-icon {
  background-image: url(../assets/icons/iconCutsceneWindow.png);
}
.play-icon {
  background-image: url(../assets/icons/iconPlay.png);
}
.pause-icon {
  background-image: url(../assets/icons/iconPause.png);
}
.trashcan-icon {
  background-image: url(../assets/icons/trashcan.png);
}

.icon-restart-conversation {
  background-image: url(../assets/icons/iconRestartConversation.png);
}
.icon-reset-facts {
  background-image: url(../assets/icons/iconResetFacts.png);
}
.icon-restart-conversation:hover, .icon-reset-facts:hover {
  background-color: var(--dark-1);
}

.icon-20w {
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.icon-40w {
  width: 40px;
  height: 40px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.star-system-icon {
  background-image: url(../assets/icons/starSystemIconNew.png);
}
.planet-icon {
  background-image: url(../assets/icons/planetIcon.png);
}