.npc-search {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--dark-2);
  border-radius: 5px;
  width: 200px;
  height: auto;
  max-height: 600px;
  padding: 10px;
  z-index: 100;
  box-shadow: 0 0 15px 0 var(--dark-1);
}

.npc-search input {
  background-color: var(--dark-1);
  width: 100%;
  height: 30px;
  caret-color: white;
  padding: 0 5px;
}

.npc-search-row {
  display: flex;
  gap: 10px;
  background-color: var(--dark-3);
  height: 40px;
  color: white;
}

.npc-search-row:hover {
  background-color: var(--dark-4);
}

.npc-search-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.npc-search-row img {
  height: 100%;
}
