#ship-hull {
  position: absolute;
  top: 20px;
  display: flex;
  gap: 3px;
  height: 30px;
  padding: 3px;
  border-radius: 2px;
  border: 2px solid var(--dark-4);
  background-color: var(--dark-2);
  cursor: var(--cursor-help);
}
.ship-hull-point {
  background-color: rgb(24, 56, 240);
  width: 15px;
  height: 100%;
}

#ship-hull:hover {
  border-color: white;
}
