#game {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

#map-ui-container {
  gap: 20px;
  background-color: rgb(0, 0, 0);
  padding: 2.5vh;
  z-index: 1;
}

#map-canvas {
  border: 4px solid var(--dark-4);
  border-radius: 50%;
}
.map-sidebar {
  height: 100%;
  width: 400px;
  background-color: rgb(37, 37, 37);
}

.editor-label {
  position: absolute;
  top: 20px;
  left: 20px;
  color: rgb(189, 195, 211);
}

.toolset {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
}

.transport-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 32px;
  gap: 2px;
  border-radius: 5px;
  border: 2px solid var(--dark-3);
  background-color: var(--dark-2);
  overflow: hidden;
  height: min-content;
}

.transport-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-1);
  cursor: var(--cursor-pointer);
}

.transport-icon:hover {
  background-color: var(--dark-3);
}

.hitbox-editor {
  z-index: 1;
}
.icon-close-container {
  display: flex;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: var(--cursor-pointer);
  z-index: 1;
}
.icon-close-container > * {
  border-radius: 5px;
  overflow: hidden;
}

.icon-close-top-right {
  position: absolute;
  top: 5px;
  right: 5px;
  background-image: url(../assets/hitbox_editor/icon-close.png);
}

.icon-close-top-right:hover {
  background-color: var(--dark-3);
}

.icon-import, .icon-export, .icon-export-facts {
  width: 32px;
  height: 32px;
  background-attachment: local;
  background-size: contain;
  background-position: center;
  order: 1;
}

.icon-import {
  background-image: url(../assets/icons/icon_import.png);
}
.icon-export {
  background-image: url(../assets/icons/icon_export.png);
}
.icon-export-facts {
  background-image: url(../assets/icons/icon_export_facts.png);
}
.icon-export-facts.warning {
  background-image: url(../assets/icons/icon_export_facts_warning.png);
}

.icon-close-container *:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.game-overlay-tools {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  gap: 5px;
}

.game-stats {
  position: absolute;
  font-size: 13px;
  left: 20px;
  top: 20px;
  color: white;
  user-select: none;
  pointer-events: none;
}

.fact-add-button {
  background-image: url(../assets/editor/icon_plus.png);
}

.svg-container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.svg-container svg path {
  pointer-events: all!important;
  cursor: var(--cursor-pointer);
}

#ship-view {
  background-color: black;
  z-index: 1;
}

.ship-view-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
}

.ship-view-model {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ship-view-right, .ship-view-left  {
  background-color: var(--dark-1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  user-select: none;
}
.ship-view-right .header, .ship-view-left .header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-2);
  width: 100%;
  padding: 20px;
  color: white;
}
#ship-cargo {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  grid-template-rows: auto;
  width: max-content;
  height: auto;
  padding: 0 20px;
}
#ship-cargo .inventory-item-wrapper,
#ship-weapons .inventory-item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: var(--cursor-pointer);
}
#ship-cargo .inventory-item,
#ship-weapons .inventory-item {
  border: 2px solid var(--dark-3);
  background-color: var(--dark-1);
  width: calc(100vw / 12);
  height: calc(100vw / 12);
  border-radius: 5px;
  transition: all 0.12s ease-in-out;
}
#ship-cargo .inventory-item-wrapper:hover .inventory-item,
#ship-weapons .inventory-item-wrapper:hover .inventory-item {
  border: 2px solid var(--dark-4);
  background-color: var(--dark-2);
  transform: translateY(-10px);
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.1);
}

.ship-stats-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 0 20px;
}
.ship-stat {
  display: flex;
  gap: 10px;
  color: white;
  border-radius: 5px;
  padding: 6px 12px;
  background-color: var(--dark-2);
  font-size: 16px;
}
.ship-stat.selected {
  background-color: var(--dark-3);
}
.ship-stat-filler {
  flex-grow: 1;
}
.ship-stat-bar {
  display: flex;
  border-radius: 3px;
  border: 2px solid var(--dark-3);
  width: 120px;
}
.ship-stat-bar:hover {
  border: 2px solid var(--dark-4);
}
.ship-stat-bar-fill {
  background-color: var(--color-shield);
}
.ship-svg {
  position: absolute;
  max-width: 80vh;
  max-height: 80vh;
  pointer-events: none;
}
.ship-svg * {
  pointer-events: all!important;
}

#ship-weapons {
  display: flex;
  gap: 20px;
}

.game-menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-1);
  border-radius: 5px;
  cursor: var(--cursor-pointer);
  border: 2px solid var(--dark-3);
  width: 48px;
  height: 48px;
  background-attachment: local;
  background-size: contain;
  background-position: center;
}
.game-menu-icon:hover {
  border-color: white;
}

.local-map-icon {
  background-image: url(../assets/icons/icon_local_map.png);
}
.world-map-icon {
  background-image: url(../assets/icons/icon_world_map.png);
}
.inventory-icon {
  background-image: url(../assets/icons/icon_inventory.png);
}

.dialogue-screen-icon {
  background-image: url(../assets/icons/icon_dialogue_screen.png);
}

#local-map {
  background-color: black;
}

#location-editor {
  background-color: black;
}
#object-editor {
  background-color: black;
}

#local-map .header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  color: white;
  padding: 20px 0;
}
#local-map .header .title {
  font-size: 16px;
}
.search-dropdown-window, .special-dropdown-window {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--dark-2);
  width: 300px;
  padding: 10px;
  z-index: 100;
}

.toggle-arrow {
  background-image: url(../assets/icons/icon_toggle_arrow.png);
}
.toggle-arrow:hover {
  background-color: var(--dark-4);
}
.toggle-arrow.active {
  transform: rotate(180deg);
}

.add-prop:hover, #object-editor-add-obj:hover {
  background-color: var(--dark-4);
}

.main-cont {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
}

.dropdown-search-bar {
  position: relative;
  background-color: var(--dark-3);
  color: white;
}

.dropdown-search-bar input {
  width: 100%;
}

#dropdown-search-bar-input {
  width: 100%;
}

.dropdown-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 20px;
  background-color: var(--dark-2);
  color: white;
}

.dropdown-item {
  display: flex;
  gap: 10px;
  color: white;
  background-color: var(--dark-2);
  user-select: none;
  cursor: var(--cursor-pointer);
}

.dropdown-item:hover {
  background-color: var(--dark-3);
}

.dropdown-image {
  position: relative;
  width: 50px;
  height: 50px;
}

.dropdown-image img {
  width: 100%;
  height: 100%;
}

.dropdown-desc {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-object-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  min-width: 50px;
  border: 2px solid var(--dark-3);
  border-radius: 5px;
  height: 36px;
  background-color: var(--dark-2);
  order: 2;
  padding: 5px;
}

.selected-object-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 36px;
  transition: all 0.1s ease-in-out;
  pointer-events: none;
}
.selected-object-cont:hover .selected-object-icon {
  transform: translateY(90px) translateX(50px) scale(5);
}
.selected-object-icon img {
  width: auto;
  height: 100%;
  position: absolute;
}
.selected-object-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.equipped-weapon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  color: white;
  border-radius: 5px;
  border: 2px solid rgb(59, 59, 59);
  background-color: var(--dark-1);
  transition: all 0.15s ease-in-out;
}
.equipped-weapon:hover {
  width: 90px;
  height: 90px;
}
.equipped-weapon.selected {
  display: flex;
  border: 2px solid white;
}

.weapon-thumbnail{
  width: 100%;
  height: 100%;
}

.equipped-weapons-wrapper {
  display: flex;
  flex-direction: column-reverse;
  gap: 5px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  height: 60px;
  overflow: hidden;
  transition: all 0.30s ease-in-out;
  user-select: none;
}

.equipped-weapons-wrapper:hover {
  height: calc(5 * 60px + 30px + 25px)
}

.ship-system-info-container {
  padding: 0 20px 20px;
  height: 100%;
  width: 100%;
}

.ship-system-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--dark-2);
}

.system-thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
}

.portrait {
  display: flex;
  border-radius: 5px;
  background-color: var(--dark-1);
  border: 2px solid var(--dark-2);
}
.portrait img {
  width: 100%;
}

.ship-prop {
  display: flex;
  gap: 5px;
}

.ship-tooltip-heading {
  display: flex;
  color: white;
}

