@font-face {
  font-family: "space";
  src: url(fonts/space_grotesk_variable.ttf);
}
:root {
  --dark-1: #131314;
  --dark-2: #1b1d1f;
  --dark-3: #2b2d30;
  --dark-4: #393c3f;
  --bright-3: #9da6af;
  --bright-4: #888f96;
  --cursor-default: url(assets/cursor/default.png) 16 13, default;
  --cursor-pointer: url(assets/cursor/pointer.png) 16 13, pointer;
  --cursor-help: url(assets/cursor/help.png) 17 13, help;
  
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: space;
  font-size: 14px;
  cursor: var(--cursor-default);
}

* {
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--dark-4);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--bright-4);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--bright-3);
}

.hidden {
  display: none!important;
}

h2 {
  font-size: 24px;
  padding: 0;
  margin: 0;
}


.full-screen-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

input[type = "text"] {
  color: inherit;
  background-color: inherit;
  outline: none;
  border: none;
  font-family: inherit;
  width: inherit;
  max-width: inherit;
  padding: 0;
}

textarea {
  color: inherit;
  background-color: inherit;
  outline: none;
  border: none;
  font-family: inherit;
  width: inherit;
  max-width: inherit;
  min-height: max-content;
}

#mouse-tooltip {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 12px 20px;
  border-radius: 5px;
  background-color: var(--dark-3);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  z-index: 1000;
  color: white;
  width: max-content;
}

.search-bar {
  position: absolute;
  top: 20px;
  border-radius: 100px;
  background-color: var(--dark-3);
  max-width: 300px;
  min-width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
}

.search-bar input {
  background-color: var(--dark-1);
  border-radius: 2px;
  height: 24px;
  caret-color: white;
  padding: 5px;
  color: white;
}

.search-icon {
  background-image: url(assets/hitbox_editor/icon-search.png);
  background-position: center;
  background-size: contain;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 12px;
  user-select: none;
  pointer-events: none;
}


.icon-tiny {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  cursor: var(--cursor-pointer);
}
.icon-small {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  cursor: var(--cursor-pointer);
}
.icon-medium {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  cursor: var(--cursor-pointer);
}

.no-select {
  user-select: none;
}
#hints-container {
  pointer-events: none;
}
.hint {
  display: flex;
  letter-spacing: 1px;
  position: absolute;
  color: white;
  font-size: 20px;
  animation-duration: 0.8s;
  animation-name: pulse;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pulse {
  0% {
    color: hsla(0, 0%, 100%, 0.3);
  }
  100% {
    color: hsl(0, 0%, 100%);
  }
}