@font-face {
  font-family: "space";
  src: url(fonts/space_grotesk_variable.ttf);
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: space;
  font-weight: 0;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

.hidden {
  display: none!important;
}


.full-screen-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

input[type = "text"] {
  color: inherit;
  outline: none;
  border: none;
  font-family: inherit;
  width: inherit;
  max-width: inherit;
}

textarea {
  color: inherit;
  outline: none;
  border: none;
  font-family: inherit;
  width: inherit;
  max-width: inherit;
}